textarea:focus{
    outline: none;
    
}

.Questions{
width: 65%;
height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.Questions>div{
display: flex;
flex-direction: column;
}
.Questions input{
    width: 15vw;
    height: 3vh;
}

.Desc{
    width: 35%;
    height: 100%;
        display: flex;
        flex-direction: column;
}
.Desc>textarea{
resize: none;
width: 27vw;
height: 8vh;
    border: none;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.172) ;
    font-size: 1.5vh;
    padding: .5vh;
}

/* -------------------------------------------

Skills Description */

.SkillDesc{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    
}

.SkillDesc>textarea{

margin: auto;
resize: none;
width: 90%;
  border: none;
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.172) ;
  padding: .5vh;
  font-size: 1.5vh;

}

.TopContainer{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.TopHeader{
display: flex;
justify-content: center;
align-self: center;
    font-size: 3vh;
    padding: 0;
}

.ButtonContainer1{
    display: flex;
    align-items: center;
    justify-content: end;
    gap:.5vw;
    margin-right:1vw ;
}

.Preview{
width: 10vw;
height: 7vh;
    background-color: aqua;
    border: none;
    border-radius: 6px;
   
    text-align: center;
    
    color: rgba(0, 0, 0, 0.655);

}
.Preview>div{
    display: flex;
    justify-content: center;
    padding: .1vh;
    font-size: 3vw;
}

.EditButton{
    background-color: aqua;
    margin-top: 3vh;
}
.Accent{
    text-align: center;
    margin:1vh;
    font-size: 5vh;
}

button{
    margin-top: .5vh;
    background-color: rgb(213, 155, 164);
    border: none;
    box-shadow: 0px 0px 5px black;
    transition: .2s ease;
}

button:hover{
    transform: scale(1.05);
}

button:active{
    transform: scale(.95);
}